project:
  type: website
  output-dir: docs

website:
  title: "Calvin Carter"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About
      - href: projects.qmd
        text: Projects
      - href: https://drive.google.com/file/d/1iw0CGJds8aQei3bYyK_bWeSHkjh_oq2M/view?usp=sharing
        text: Resume

format:
  html:
    theme: sandstone
    css: styles.css
    toc: true



